@font-face {
  font-family: 'Raleway';
}

html,
body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Raleway';
  color: transparent !important;
  background-color: black !important;
  -webkit-backface-visibility: visible;
}

.video{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
}

.text {
  position: relative;
  margin: 0;
  font-size: 75px;
	color: white;
  text-align: center;
  z-index: 4;
}

.text span {
  color: rgb(242,154,192);
}
.text2 {
  position: relative;
  margin: 5%;
  font-size: 50px;
  color: white;
  text-align: center;
  z-index: 4;
}

.row {
  position: absolute;
  bottom: 25px;
  width: 100%;
}

.column {
  position: relative;
  width: 100%;
  margin: 20px 0;
  text-align: center;
  z-index: 4;
}

.column:before,
.column:after {
  content: " ";
  display: table;
}

.column:after {
  clear: both;
}

.button{
  display:inline-block;
  min-width: 200px;
  margin: 0 20px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 35px;
  font-family: 'Raleway';
  color: #fff;
  background-color: #ff99cc;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  outline: 0;
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 550px) {
/* Styles */

  .column{
    float: left;
    width: 100%;
  }

   








